<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <httpCompression
          directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" sendCacheHeaders="true">
       <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
       <dynamicTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="*/*" enabled="false" />
       </dynamicTypes>
       <staticTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="*/*" enabled="false" />
       </staticTypes>
    </httpCompression>

    <httpErrors errorMode="Detailed">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" prefixLanguageFilePath="" path="/404.asp" responseMode="ExecuteURL" />
    </httpErrors>

    <httpProtocol>
        <customHeaders>
            <remove name="x-powered-by-plesk" />
            <remove name="X-Powered-By" />
            <add name="X-Powered-By" value="RabbitCMS" />
            <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        </customHeaders>
    </httpProtocol>

    <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="8.00:00:00" />

        <remove fileExtension=".appcache" />
        <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />

        <remove fileExtension=".oga" />
        <mimeMap fileExtension=".oga" mimeType="audio/ogg" />

        <remove fileExtension=".mp4" />
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" />

        <remove fileExtension=".webm" />
        <mimeMap fileExtension=".webm" mimeType="video/webm" />

        <remove fileExtension=".ogv" />
        <mimeMap fileExtension=".ogv" mimeType="video/ogv" />

        <remove fileExtension=".ogg" />
        <mimeMap fileExtension=".ogg" mimeType="video/ogg" />

        <remove fileExtension=".m4a" />
        <mimeMap fileExtension=".m4a" mimeType="video/mp4" />

        <remove fileExtension=".webmanifest" />
        <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />

        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="font/woff" />
        
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <caching>
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="12000000" maxQueryString="1024"/>
      </requestFiltering>
    </security>

    </system.webServer>
    
    <system.web>
      <sessionState timeout="5" mode="InProc"  /> 
    </system.web>
</configuration>
